<div class="need">
	<div class="container">
		<div class="row">
			<div class="heading wow">
				Зачем вам нужно 
SEO-продвижение?
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="item wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
					Увеличить количество посетителей;
				</div>
			</div>
			<div class="col-md-6">
				<div class="item wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
					Быть выше, чем конкуренты;
				</div>
			</div>
			<div class="col-md-6">
				<div class="item wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
					Развивать и масштабировать бизнес 
в интернете;
				</div>
			</div>
			<div class="col-md-6">
				<div class="item wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
					Повысить узнаваемость <br>
бренда;
				</div>
			</div>
			<div class="col-md-6">
				<div class="item wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
					Увеличить количество лидов;
				</div>
			</div>
			<div class="col-md-6">
				<div class="item wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s">
					Оптимизировать и улучшить 
ваш сайт.
				</div>
			</div>
		</div>
	</div>
</div>