<div class="related">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="heading">
					Также у нас заказывают
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="photo cpp">
					<img src="img/cpp.png" alt="">
				</div>
				<div class="apply">
					<a href="#" class="btn btn-apply button button--aylen button--round-l button--text-thick">перейти</a>
				</div>
			</div>
			<div class="col">
				<div class="photo">
					<img src="img/smm.png" alt="">
				</div>
				<div class="apply">
					<a href="#" class="btn btn-apply button button--aylen button--round-l button--text-thick">перейти</a>
				</div>
			</div>
		</div>
	</div>
</div>