<div class="reviews">
		<div class="container">
			<div class="row">
				<div class="col-md-1">
					<ul class="navi">
						<li><a class="arr-left">
						<i class="fa fa-angle-left"></i>
					</a></li>
						<li><a class="arr-right">
						<i class="fa fa-angle-right"></i>
					</a></li>
					</ul>
					
					
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="col">
							<div class="heading">
								Отзывы
							</div>
							
						</div>
					</div>
					<div class="reviews-slide">
						<div class="item">
							<div class="wrap">
								<div class="row">
									<div class="col-md-3">
											<div class="info">
									<img src="img/shum.png" alt="" class="rounded-circle" >
									<div class="name">Иван Иванович</div>
								</div>
									</div>
								
							
								<div class="content col-md-9">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="wrap">
								<div class="row">
									<div class="col-md-3">
										<div class="info">
									<img src="img/shum.png" alt="" class="rounded-circle" >
									<div class="name">Иван Иванович</div>
								</div>
									</div>
							
								
								<div class="content col-md-9">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</div>
									</div>
							</div>
						</div>
						<div class="item">
							<div class="wrap">
								<div class="row">
									<div class="col-md-3">
												<div class="info">
									<img src="img/shum.png" alt="" class="rounded-circle">
									<div class="name">Иван Иванович</div>
								</div>
									</div>
								
						
								<div class="content col-md-9">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="wrap">
								<div class="row">
									<div class="col-md-3">
											<div class="info">
									<img src="img/shum.png" alt="" class="rounded-circle" >
									<div class="name">Иван Иванович</div>
								</div>
									</div>
							
							
								<div class="content col-md-9">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
								</div>
									</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-1">
					<div class="dots">
						
					</div>
				</div>
			</div>
		</div>
</div>