<div class="order">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<span class="h1">
					Заказать 
продвижение:  
				</span>
			</div>
			<div class="col-md-5 offset-md-1">
				<div class="form">
					<span class="form-heading">
						Заполните форму
					</span>
					<form>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <button type="submit" class="button button--nina button--border-thin button--round-s" data-text="Узнать стоимость" >
<span>У</span>
<span>з</span>
<span>н</span>
<span>а</span>
<span>т</span>
<span>ь</span>
<span></span>
<span>с</span>
<span>т</span>
<span>о</span>
<span>и</span>
<span>м</span>
<span>о</span>
<span>с</span>
<span>т</span>
<span>ь</span>
</button>
</form>
				</div>
			</div>
		</div>
	</div>
</div>