<div class="team">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="heading">
					ВАШИМ ПРОЕКТОМ <br>
БУДУТ ЗАНИМАТЬСЯ
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 team-item">
				<div class="item-photo">
					<img src="img/shum.png" alt="">
				</div>
				<div class="name">
					Andrey 
Shum
				</div>
				<div class="info">
					<span>Опыт работы: 7 лет</span>
					<span>Успешных проектов: 1199</span>
				</div>
			</div>
			<div class="col-md-4 team-item">
				<div class="item-photo">
					<img src="img/shum.png" alt="">
				</div>
				<div class="name">
					Andrey 
Shum
				</div>
				<div class="info">
					<span>Опыт работы: 7 лет</span>
					<span>Успешных проектов: 1199</span>
				</div>
			</div>
			<div class="col-md-4 team-item">
				<div class="item-photo">
					<img src="img/shum.png" alt="">
				</div>
				<div class="name">
					Andrey 
Shum
				</div>
				<div class="info">
					<span>Опыт работы: 7 лет</span>
					<span>Успешных проектов: 1199</span>
				</div>
			</div>
			<div class="col-md-4 team-item">
				<div class="item-photo">
					<img src="img/shum.png" alt="">
				</div>
				<div class="name">
					Andrey 
Shum
				</div>
				<div class="info">
					<span>Опыт работы: 7 лет</span>
					<span>Успешных проектов: 1199</span>
				</div>
			</div>
			<div class="col-md-4 team-item">
				<div class="item-photo">
					<img src="img/shum.png" alt="">
				</div>
				<div class="name">
					Andrey 
Shum
				</div>
				<div class="info">
					<span>Опыт работы: 7 лет</span>
					<span>Успешных проектов: 1199</span>
				</div>
			</div>
			<div class="col-md-4 team-item">
				<div class="item-photo">
					<img src="img/shum.png" alt="">
				</div>
				<div class="name">
					Andrey 
Shum
				</div>
				<div class="info">
					<span>Опыт работы: 7 лет</span>
					<span>Успешных проектов: 1199</span>
				</div>
			</div>
		</div>
	</div>
</div>